
* {
	box-sizing: border-box;
}

body {
	padding:65px;
	margin:28px;

}

div#container {
	position:relative;
	box-shadow: 10px 10px 5px #888888;
}

#b1{
	background-color: grey;
	position:absolute;
	top:0px;
	left:0px;
	width:60px;
	height:30px;
	padding:6px;
	box-shadow: 3px 3px 1px #888888;

}

#b2{
	background-color: grey;
	position:absolute;
	top:0px;
	left: 75px;
	width:60px;
	height:30px;
	padding:6px;
	box-shadow: 3px 3px 1px #888888;

}

#b3{
	background-color: grey;
	position:absolute;
	top:0px;
	left:150px;
	width:60px;
	height:30px;
	padding:6px;
	box-shadow: 3px 3px 1px #888888;

}

h1 {
	margin: 30px
	width:50%;
	height:30%;
	float:left;
	padding:10px;

}
p1 {

}
div {
	background-color: #F0E68C;
	padding:25px;
	box-shadow: 10px 10px 5px #888888;
}

p {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin-right: 10px;
	padding:10px;
}
div p {
	width: 50%;
	height: 100%;
	border: 1px solid black;
	background-color: #A52A2A;
	margin:10px;
	float:left;
}

ul li{
	width: 85%;
	height: 50%;
	border: 1px solid black;
	background-color: #FF7F50;
	margin:10px;
	clear:both;
	padding:10px;
}

#p0 {
	width: 100%;
	height: 85%;
	background-color: #5F9EA0;
	border:3px solid black;
}

#p0-1, #p0-2 {
	width: 35%;
	height: 85%;
	background-color: #A52A2A;
	border:2px solid black;
}


#p1-1, #p1-2, #p1-3, #p1-4 {
	background-color: #DEB887;
	width: 65%;
	height:100%;
	border:2px solid black;
	float:right;
}


#p2 {
	background-color: blue;
	width:100%;
	height:25%;
	padding: 10px;
	border: 2px solid black;
	float:left;
}
div a, #p3{
	color:white;
	background-color: blue;
	width:35%;
	height:25%;
	margin:10px;
	padding: 10px;
	border: 2px solid black;
	float:left;
}

div ul li a {
	color:white;
	background-color: blue;
	width:35%;
	height:25%;
	padding: 10px;
	border: 5px solid black;
	float:right;
}
